[Desktop Entry]
Version=1.0
Type=Application
Name=MyMQTTX
Name[zh_CN]=MyMQTTX
Comment=Agent MQTT Testbench
Comment[zh_CN]=Agent MQTT 测试台
Exec=/home/ubuntu/.local/bin/mymqttx
Icon=/home/ubuntu/.local/opt/mymqttx/static/mymqttx.svg
Terminal=false
Categories=Development;Network;Utility;
StartupNotify=true
